* {
    font-family: "Sora", sans-serif;
    color: #00308F !important;
}

body {
    background-color: whitesmoke;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-brand > span {
    font-weight: 400;
}

.navbar {
    box-shadow: 0px 0px 7.5px -2.5px lightgrey;
}

.myorders table {
    table-layout: fixed;
}

@media (max-width: 792px) {
    .myorders table {
        font-size: 8px;
    }

    .myorders {
        padding: 12px !important;
    }
}