form .lead {
    font-weight: 600;
}

input {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    border: solid 1px #263069;
}

.btn:hover {
    background-color: #263069;
    color: white !important;
}

.btn:focus {
    box-shadow: none;
}