.orders {
    background-color: #00308F;
}

.order {
    border-radius: 10px;
    border: solid 1px #00308F;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.orders button {
    height: 50px;
    align-self: center;
    background-color: #00308F;
}

.orders button:hover {
    background-color: #e9ecef;
    color: #00308F !important;
    border: solid 1px #00308F;
}

@media (max-width: 710px) {
    .orders button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

.list-group {
    overflow: scroll;
    max-height: 550px;
}