.createorder {
    box-shadow: 0px 0px 7.5px -2.5px lightgrey;
    border-left: solid 5px #00308F;
}

.myorders {
    box-shadow: 0px 0px 7.5px -2.5px lightgrey;
}

.myorders .btn {
    background-color: #00308F;
}

.createorder .btn {
    border: solid 1px #00308F;
}

.createorder .btn:hover {
    background-color: #00308F;
    color: white !important;
}

.createorder .btn:focus {
    box-shadow: none;
}